<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top hline" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/"  | prepend: site.baseurl }}">{{ site.title }}</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li> <a href="{{"/" | prepend: site.baseurl }}">HOME</a> </li>
        <li> <a href="{{"/publications/" | prepend: site.baseurl }}">PUBLICATIONS</a> </li>
        <li> <a href="{{"/teaching/" | prepend: site.baseurl }}">TEACHING</a> </li>
        <li> <a href="{{"/team/" | prepend: site.baseurl }}">TEAM</a> </li>
        <li> <a href="{{"/join/" | prepend: site.baseurl }}">JOIN</a> </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>